{% extends 'index.html' %}
<!-- {% block title %} Home {% endblock %} -->
{% block content %}
<!--OSM-->
{% load static %}

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    {% include 'layout/navbar.html' %}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->

    <div id="content-wrapper" class="d-flex flex-column">

        <div id="content">

            <!-- Topbar -->
            {% include 'layout/topbar.html' %}
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid h-100 pt-4 darker-nw">
                <!-- Content Row -->
                <div class="card mb-4 l-black rounded border-0">
                    <h4 class="pb-4 text-white">
                        Nema Sensor Tracking System
                        <span style="cursor: pointer; float: right; font-size: 1.5em;"></span>
                    </h4>

                    <ul class="nav nav-tabs">
                        <li class="active"><a href="/indexnema">
                            <button type="button" class="btn btn-primary">Nema Data</button>
                        </a> 
                        </li>
                    </ul> 

                </div>              


            </div>
            <!-- End of Main Content -->
        </div>

        <!-- Footer -->
        {% include 'layout/footer.html' %}
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

{% endblock %}

